{% extends 'layouts/base.html' %}

{% block header %}
    <!-- main nav -->
    <header>
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark navbar-custom">
            <div class="container">
                <a class="navbar-brand" href="{{ url_for('page.home') }}">Driver Duel</a>
                <button class="navbar-toggler"
                        type="button"
                        data-toggle="collapse"
                        data-target="#navbar"
                        aria-controls="navbar"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse pull-xs-right justify-content-end" id="navbar">
                    <ul class="navbar-nav mt-2 mt-md-0">
                        {% if current_user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('game.play_game') }}">Play</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('leaderboard.season_rank') }}">Leaderboard</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle"
                                   href="#"
                                   id="navbarDropdown"
                                   role="button"
                                   data-toggle="dropdown"
                                   aria-haspopup="true"
                                   aria-expanded="false">Account</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="{{ url_for('user.settings') }}">Settings</a>
                                    {% if current_user.games %}
                                        {% include 'game/_menu.html' %}
                                    {% endif %}
                                    {% if current_user.role == 'admin' %}
                                        {% include 'admin/_menu.html' %}
                                    {% endif %}
                                    <a class="dropdown-item" href="{{ url_for('user.logout') }}">Log Out</a>
                                </div>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('leaderboard.season_rank') }}">Leaderboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('user.login') }}">Log In</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-success pill-btn pill-btn-nav" href="{{ url_for('user.signup') }}">Sign Up</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        {% block cover %}{% endblock %}
    </header>
{% endblock %}
