{% extends 'layouts/nav.html' %}

{% block page_title %}FAQ{% endblock %}

{% block body %}
    <div class="container pt-3 pb-4 mb-5">
        <div class="row">
            <div class="col">
                <h5>How does Driver Duel work?</h5>
                <p>Register and play each race week. Each week you play, you will recieve two random drivers to pick from. Once you select a driver, you will score points for how your driver finishes the race, the position differential, number of laps led and fastest laps. All scoring categories are added together. Prizes are awarded for players who are at the top of the leaderboard each race week and at season's end.</p>
                <hr/>
                <h5>What are the prizes?</h5>
                <p>Each leader of a scoring category will win a $5 Amazon gift card after a race week. Each week you play, points will get added toward the overall leaderboard. Each leader of a scoring category will win a $25 Amazon gift card at season's end. Gift cards will be emailed to the winners.</p>
                <hr/>
                <h5>How does scoring work?</h5>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th colspan="2" scope="col">General Scoring</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Place Differential</th>
                            <td>+/- 1 Pt</td>
                        </tr>
                        <tr>
                            <th scope="row">Fastest Laps</th>
                            <td>+0.5 Pts</td>
                        </tr>
                        <tr>
                            <th scope="row">Laps Led</th>
                            <td>+0.25 Pts</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th colspan="2" scope="col">Finishing Position Scoring</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1st</th>
                            <td>+40 Pts</td>
                        </tr>
                        <tr>
                            <th scope="row">2nd</th>
                            <td>+39 Pts</td>
                        </tr>
                        <tr>
                            <th scope="row">3rd</th>
                            <td>+38 Pts</td>
                        </tr>
                        <tr>
                            <th scope="row">4th</th>
                            <td>+37 Pts</td>
                        </tr>
                        <tr>
                            <th scope="row">5th</th>
                            <td>+36 Pts</td>
                        </tr>
                        <tr>
                            <th scope="row">6th</th>
                            <td>+35 Pts</td>
                        </tr>
                        <tr>
                            <th scope="row">7th</th>
                            <td>+34 Pts</td>
                        </tr>
                        <tr>
                            <th scope="row">8th</th>
                            <td>+33 Pts</td>
                        </tr>
                        <tr>
                            <th scope="row">9th</th>
                            <td>+32 Pts</td>
                        </tr>
                        <tr>
                            <th scope="row">10th</th>
                            <td>+31 Pts</td>
                        </tr>
                        <tr>
                            <th scope="row">11th</th>
                            <td>+30 Pts</td>
                        </tr>
                        <tr>
                            <th scope="row">12th</th>
                            <td>+29 Pts</td>
                        </tr>
                        <tr>
                            <th scope="row">13th</th>
                            <td>+28 Pts</td>
                        </tr>
                        <tr>
                            <th scope="row">14th</th>
                            <td>+27 Pts</td>
                        </tr>
                        <tr>
                            <th scope="row">15h</th>
                            <td>+26 Pts</td>
                        </tr>
                        <tr>
                            <th scope="row">16th</th>
                            <td>+25 Pts</td>
                        </tr>
                        <tr>
                            <th scope="row">17th</th>
                            <td>+24 Pts</td>
                        </tr>
                        <tr>
                            <th scope="row">18th</th>
                            <td>+23 Pts</td>
                        </tr>
                        <tr>
                            <th scope="row">19th</th>
                            <td>+22 Pts</td>
                        </tr>
                        <tr>
                            <th scope="row">20th</th>
                            <td>+21 Pts</td>
                        </tr>
                        <tr>
                            <th scope="row">21st</th>
                            <td>+20 Pts</td>
                        </tr>
                        <tr>
                            <th scope="row">22nd</th>
                            <td>+19 Pts</td>
                        </tr>
                        <tr>
                            <th scope="row">23rd</th>
                            <td>+18 Pts</td>
                        </tr>
                        <tr>
                            <th scope="row">24th</th>
                            <td>+17 Pts</td>
                        </tr>
                        <tr>
                            <th scope="row">25th</th>
                            <td>+16 Pts</td>
                        </tr>
                        <tr>
                            <th scope="row">26th</th>
                            <td>+15 Pts</td>
                        </tr>
                        <tr>
                            <th scope="row">27th</th>
                            <td>+14 Pts</td>
                        </tr>
                        <tr>
                            <th scope="row">28th</th>
                            <td>+13 Pts</td>
                        </tr>
                        <tr>
                            <th scope="row">29th</th>
                            <td>+12 Pts</td>
                        </tr>
                        <tr>
                            <th scope="row">30th</th>
                            <td>+11 Pts</td>
                        </tr>
                        <tr>
                            <th scope="row">31st</th>
                            <td>+10 Pts</td>
                        </tr>
                        <tr>
                            <th scope="row">32nd</th>
                            <td>+9 Pts</td>
                        </tr>
                        <tr>
                            <th scope="row">33rd</th>
                            <td>+8 Pts</td>
                        </tr>
                        <tr>
                            <th scope="row">34th</th>
                            <td>+7 Pts</td>
                        </tr>
                        <tr>
                            <th scope="row">35th</th>
                            <td>+6 Pts</td>
                        </tr>
                        <tr>
                            <th scope="row">36th</th>
                            <td>+5 Pts</td>
                        </tr>
                        <tr>
                            <th scope="row">37th</th>
                            <td>+4 Pts</td>
                        </tr>
                        <tr>
                            <th scope="row">38th</th>
                            <td>+3 Pts</td>
                        </tr>
                        <tr>
                            <th scope="row">39th</th>
                            <td>+2 Pts</td>
                        </tr>
                        <tr>
                            <th scope="row">40th</th>
                            <td>+1 Pts</td>
                        </tr>
                    </tbody>
                </table>
                <hr/>
                <h5>Why random drivers?</h5>
                <p>Who has time to research the perfect lineup? Driver Duel is like opening a pack of cards with all the excitement of seeing who you might get.</p>
                <hr/>
                <h5>Can I change my driver?</h5>
                <p>Sorry, but you can only draw drivers once and pick your driver once each race week. If you are interested in a feature that would allow you to have one reset, then contact me.</p>
                <hr/>
                <h5>Why did you create this?</h5>
                <p>Researching lineups each week takes too much time, plus I wanted something fun to play with my friends. I like the excitment of opening card packs. I have a lot of cards.</p>
            </div>
        </div>
    </div>
{% endblock %}
