{% extends 'layouts/base.html' %}

{% block page_title %}Driver Duel - NASCAR Fantasy Pick'em With a Twist{% endblock %}
{% block meta_description %}The fantasy game that's fun and rewarding. With many different ways to win vs. traditional fantasy games.{% endblock %}

{% block cover %}
    <!-- Home Jumbotron -->
    <div class="cover">
        <div class="cover-container">
            <div class="cover-inner container">
                <div class="row justify-center">
                    <div class="col-lg-5 mt-5 mb-5 text-center text-lg-left">
                        <h1 class="jumbotron-heading">NASCAR Fantasy Pick'em With a Twist</h1>
                        <p class="lead">The fantasy game that's fun and rewarding. With many different ways to win vs. traditional fantasy games.</p>
                        <p>
                            <a href="#" class="btn btn-outline-success btn-lg mb-2 mr-2 ml-2 pill-btn pill-btn-cover">Sign Up</a>
                            <a href="#" class="btn link-white mb-2 ml-2 ml-2 pill-btn">Learn More</a>
                        </p>
                    </div>
                    <div class="col-lg-5 offset-lg-2 mt-5 mb-5 text-center">
                        <img class="img-fluid mt-5 mb-5" src="{{ url_for('static', filename='images/esports.jpg') }}">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <!-- Features Content -->
    <section class="features text-center">
        <div class="container">
            <h2>Features</h2>
            <div class="divider"></div>
            <div class="row">
                <div class="col-md-4 col-feature">
                    <div class="rounded-circle justify-center">
                        <em class="fas fa-2x fa-clone"></em>
                    </div>
                    <h4>Collect Drivers</h4>
                    <p>Receive two new random drivers each week. Choose wisely and rank up to earn digital currency.</p>
                    <p><a class="btn btn-outline-primary mt-2" href="#" role="button">View details</a></p>
                </div>
                <div class="col-md-4 col-feature">
                    <div class="rounded-circle justify-center">
                        <em class="fas fa-2x fa-users"></em>
                    </div>
                    <h4>Random Matchmaking</h4>
                    <p>Get paired against a random opponent each week. Each matchup has a variety of ways to rank up to earn digital currency.</p>
                    <p><a class="btn btn-outline-primary mt-2" href="#" role="button">View details</a></p>
                </div>
                <div class="col-md-4 col-feature">
                    <div class="rounded-circle justify-center">
                        <em class="fas fa-2x fa-trophy"></em>
                    </div>
                    <h4>Leaderboard</h4>
                    <p>Score points with a variety of fun challenges. Track progress over the course of the season to rank up and earn the ultimate prize.</p>
                    <p><a class="btn btn-outline-primary mt-2" href="#" role="button">View details</a></p>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container">
            <div class="row justify-center">
                <div class="col-md-6 text-center">
                    <img class="mb-4 img-fluid" src="" >
                </div>
                <div class="col-md-6 text-center text-md-left" >
                    <h2 class="mb-4 mt-4">Collect Drivers</h2>
                    <p class="mb-4">Instead of spending hours trying to find the right line-up, like traditional fantasy games, Driver Duel gives each player a choice - pick between two random drivers. This method goes back to the card collecting days of opening packs and seeing if your driver can out-duel the other driver. If you don't like your driver selection, don't worry, you can always redraw one more time.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container">
            <div class="row justify-center">
                <div class="col-md-6 text-center text-md-left pl-5">
                    <h2 class="mb-4 mt-4">Random Matchmaking</h2>
                    <p class="mb-4">What good is a game if you're playing alone? Instead of battling against a bunch of other players that have a ton of lineups, your are randomly paired against another player. This other player also receives two random drivers making the driver duel that much more interesting.</p>
                </div>
                <div class="col-md-6 text-center">
                    <img class="mb-4 img-fluid" src="" >
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container">
            <div class="row justify-center">
                <div class="col-md-6 text-center">
                    <img class="mb-4 img-fluid" src="" >
                </div>
                <div class="col-md-6 text-center text-md-left" >
                    <h2 class="mb-4 mt-4">Leaderboard</h2>
                    <p class="mb-4">Driver Duel is different than traditional fantasy games when it comes to scoring. Yes, you will earn points each week for laps lead, fastest laps, position differential, and finishing position. You'll also earn points for winning your duel, but instead of those points resetting each race, you'll get to keep those points and track your progress on the overall leaderboard. There are multiple ways to win, so view the <a href="{{ url_for('page.faq') }}">FAQ</a> for a complete breakdown.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
