{% extends 'layouts/nav.html' %}

{% block page_title %}Driver Duel - NASCAR Fantasy Pick'em With a Twist{% endblock %}
{% block meta_description %}The fantasy game that's fun and rewarding. With many different ways to win vs. traditional fantasy games.{% endblock %}

{% block cover %}
    <!-- Home Jumbotron -->
    <div class="cover">
        <div class="cover-container">
            <div class="cover-inner container">
                <div class="row justify-center">
                    <div class="col-lg-5 mt-5 mb-5 text-center text-lg-left">
                        <h1 class="jumbotron-heading">NASCAR Fantasy Pick'em With a Twist</h1>
                        <p class="lead">The fantasy game that's fun and rewarding. With many different ways to win vs. traditional fantasy games.</p>
                        <p>
                            <a href="{{ url_for('user.signup') }}" class="btn btn-outline-success btn-lg mb-2 mr-2 ml-2 pill-btn pill-btn-cover">Sign Up</a>
                            <a href="{{ url_for('page.faq') }}" class="btn link-white mb-2 ml-2 ml-2 pill-btn">Learn More</a>
                        </p>
                    </div>
                    <div class="col-lg-5 offset-lg-2 mt-5 mb-5 text-center">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <!-- Features Content -->
    <section class="features text-center">
        <div class="container">
            <h2>Game Overview</h2>
            <div class="divider"></div>
            <div class="row">
                <div class="col-md-4 col-feature">
                    <div class="rounded-circle justify-center">
                        <em class="fas fa-2x fa-clone"></em>
                    </div>
                    <h4>Select Drivers</h4>
                    <p>Receive two new random drivers each week. Choose wisely and rank up on the weekly and overall leaderboard.</p>
                    <p><a class="btn btn-outline-primary mt-2" href="{{ url_for('page.faq') }}" role="button">Learn More</a></p>
                </div>
                <div class="col-md-4 col-feature">
                    <div class="rounded-circle justify-center">
                        <em class="fas fa-2x fa-users"></em>
                    </div>
                    <h4>Matchmaking - COMING SOON</h4>
                    <p>Get paired against a random opponent each week. Earn driver points and for beating your opponent.</p>
                    <p><a class="btn btn-outline-primary mt-2" href="{{ url_for('page.faq') }}" role="button">Learn More</a></p>
                </div>
                <div class="col-md-4 col-feature">
                    <div class="rounded-circle justify-center">
                        <em class="fas fa-2x fa-trophy"></em>
                    </div>
                    <h4>Leaderboard</h4>
                    <p>Score points in five different categories. Rank up for a chance to win a prize each week and at season end.</p>
                    <p><a class="btn btn-outline-primary mt-2" href="{{ url_for('page.faq') }}" role="button">Learn More</a></p>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container">
            <div class="row justify-center">
                <div class="col-md-6 text-center mt-3">
                    <img class="img-fluid" src="{{ url_for('static', filename='images/DriverDuelCards.png') }}">
                </div>
                <div class="col-md-6 text-center text-md-left mt-3" >
                    <h2 class="mb-4 mt-4">How To Play</h2>
                    <h4 class="mt-4">1. Register and Enter a Game</h4>
                    <p>Register with just an email address. Enter a game by clicking the play button.</p>
                    <h4 class="mt-4">2. Select Your Driver</h4>
                    <p>Select from one of two random drivers.</p>
                    <h4 class="mt-4">3. Watch and Win</h4>
                    <p>Come back after the race to see how your driver ranked for the week and where you rank overall for the season.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
