{% extends 'layouts/base.html' %}

{% block page_title %}Join Driver Duel{% endblock %}

{% block body %}
    <section class="waitlist">
        <div class="container">
            <div class="row justify-center">
                <div class="col-md-9 text-center mt-5">
                    <img class="img-fluid waitlist-logo" src="{{ url_for('static', filename='images/logo/color_logo_transparent.png') }}">
                    <div class="row justify-center">
                        <div class="col-md-6 text-center mt-5">
                            <h4>We're building the ultimate, super simple, fantasy game that rewards you for your NASCAR knowledge.</h4>
                            <br>
                            <br>
                            <a class="btn btn-lg btn-primary scrollTo" data-scroll="sec1">JOIN THE WAITLIST</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-center">
                <div class="col-md-9 text-center mt-5">
                    <h3>Membership Perks</h3>
                    <h4>All for $4.99 a month</h4>
                </div>
            </div>
            <div class="row justify-center mt-2">
                <div class="col-md-3 col-feature text-center">
                    <div class="rounded-circle justify-center">
                        <em class="fas fa-3x fa-unlock-alt"></em>
                    </div>
                    <h4><b>No Entry Fees or Lineups</b></h4>
                    <p>Membership gives you access to all our fantasy pick'em challenges. No entry fees, lineups, or salary caps.</p>
                </div>
                <div class="col-md-3 col-feature text-center">
                    <div class="rounded-circle justify-center">
                        <em class="fas fa-3x fa-stopwatch"></em>
                    </div>
                    <h4><b>Simple Pick'em Challenges</b></h4>
                    <p>Save time and have fun with simple challenges like what driver will lead the most laps in a race.</p>
                </div>
                <div class="col-md-3 col-feature text-center">
                    <div class="rounded-circle justify-center">
                        <em class="fas fa-3x fa-trophy"></em>
                    </div>
                    <h4><b>Win Prizes and Unlock Rewards</b></h4>
                    <p>Earn cash for winning challenges and unlocking challenge streaks.</p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row justify-center">
                <div class="col-md-8 text-center mt-5">
                    <h2>FAQs</h2>
                </div>
            </div>
            <div class="row justify-center">
                <div class="col-md-8 mt-5">
                    <h5>What are the benefits of membership?</h5>
                    <p>For $4.99 a month, you get to play six pick'em challenges each week. There are no entry fees or lineups to create to win. Simply winning a set number of challenges and/or streaks unlocks cash rewards. You also earn points for each challenge and can follow your ranking against your friends and others.</p>
                    <br>
                    <h5>What's the waitlist?</h5>
                    <p>We are still in Beta with a small group of users. By joining the waitlist you will become the first to be notified of the new fantasy game when it launches.</p>
                    <br>
                    <h5>Will I get charged $4.99 for joining the waitlist?</h5>
                    <p>No, you will not be asked for your credit card or payment information when joining the waitlist. Joining the waitlist allows you to be the first to be notfied of when we launch.</p>
                    <br>
                    <h5>What are the fantasy challenges?</h5>
                    <p>There are six different challenges each race week you play. For each challenge, every member of the game will recieve four drivers and have to pick one who you think will perform the best for that given challenge. You win the challenge if the driver you pick out-performed the other driver options. The weekly challenges are:</p>
                    <ul>
                        <li>Which driver scores more stage 1 points.</li>
                        <li>Which driver scores more stage 2 points.</li>
                        <li>Which driver scores more stage 3 points.</li>
                        <li>Which driver finished better.</li>
                        <li>Which driver leads the most laps.</li>
                        <li>Which driver has the highest point differential.</li>
                    </ul>
                    <br>
                    <h5>What are streaks?</h5>
                    <p>Streaks are an additional way to earn rewards. If you picked the correct driver for who will lead the most laps in one week and do so again the following week, that will move you up the Lap Leader Streak ladder. Move far enough up the ladder and win cash rewards.</p>
                    <br>
                    <h5>What are the cash rewards?</h5>
                    <ul>
                        <li>Correctly pick 4 out of 6 challenges in a race week and win $10.</li>
                        <li>Correctly pick 5 out of 6 challenges in a race week and win $25.</li>
                        <li>Correctly pick 6 out of 6 challenges in a race week and win $100.</li>
                        <li>Make 4 consecutive picks in a challenge category and win $10.</li>
                        <li>Make 6 consecutive picks in a challenge category and win $50.</li>
                        <li>Make 10 consecutive picks in a challenge category and win $100.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="sec1">
        <div class="container">
            <div class="row justify-center mb-2">
                <div class="col-md-8 text-center mb-5 scrollTo" data-scroll="sec1">
                    <div class="typeform-widget" data-url="https://robertmews.typeform.com/to/IN5aN7" style="width: 100%; height: 500px;"></div>
                    <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
                    <br>
                    <a style="margin-bottom: 20px; font: 14px Helvetica, sans-serif; color: #939393; text-decoration: none;" href="{{ url_for('page.terms') }}" target="_blank">By sharing my email I accept the <span>terms of service.</span></a>
                </div>
            </div>
        </div>
    </section>
    <script>
        fbq('track', 'Lead');
        function scrollToElm(name){
            var elm = document.getElementsByClassName(name)[0];
            if(elm){
                window.scroll({
                    top: elm.offsetTop,
                    behavior: "smooth"
                });
            }
        }
        function attachListeners(){
            var list = document.getElementsByClassName("scrollTo");
            for(var i=0; i<list.length; i++){
                list[i].addEventListener("click", function(){
                    scrollToElm(this.getAttribute('data-scroll'))
                });
            }
        }
        attachListeners();
    </script>
{% endblock %}