{% extends 'layouts/base.html' %}

{% block page_title %}Join Driver Duel{% endblock %}

{% block body %}
    <section class="waitlist">
        <div class="container">
            <div class="row justify-center">
                <div class="col-md-9 text-center mt-5">
                    <img class="img-fluid waitlist-logo" src="{{ url_for('static', filename='images/logo/color_logo_transparent.png') }}">
                    <div class="row justify-center">
                        <div class="col-md-6 text-center mt-5">
                            <h4>The super simple fantasy game that rewards you for your NASCAR knowledge.</h4>
                            <br>
                            <br>
                            <a class="btn btn-lg btn-primary scrollTo" data-scroll="sec1">JOIN THE WAITLIST</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-center">
                <div class="col-md-9 text-center mt-5">
                    <h3>Membership Perks</h3>
                    <h4>All for $4.99 a month</h4>
                </div>
            </div>
            <div class="row justify-center mt-2">
                <div class="col-md-3 col-feature text-center">
                    <div class="rounded-circle justify-center">
                        <em class="fas fa-3x fa-unlock-alt"></em>
                    </div>
                    <h4>No Entry Fees or Salary Caps</h4>
                    <p>Membership gives you access to play in all of our fantasy challenges. No drafts, entry fee's, or salary caps.</p>
                </div>
                <div class="col-md-3 col-feature text-center">
                    <div class="rounded-circle justify-center">
                        <em class="fas fa-3x fa-stopwatch"></em>
                    </div>
                    <h4>Simple Pick'em Challenges</h4>
                    <p>Save time with our super simple pick'em challenges like who will have the most laps led.</p>
                </div>
                <div class="col-md-3 col-feature text-center">
                    <div class="rounded-circle justify-center">
                        <em class="fas fa-3x fa-trophy"></em>
                    </div>
                    <h4>Win Prizes and Unlock Rewards</h4>
                    <p>Win cash for making correct picks and earn even more cash for pick'em streaks.</p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row justify-center">
                <div class="col-md-8 text-center mt-5">
                    <h2>FAQs</h2>
                </div>
            </div>
            <div class="row justify-center">
                <div class="col-md-8 mt-5">
                    <h5>What are the benefits of membership?</h5>
                    <p>For $4.99 a month, you get to unlock all weekly fantasy pick'em challenges and you don't have to place an entry fee to play contests. You also are able to earn streak points by completing challenges each week. You also earn points for picking the correct driver in each challenge and can follow your ranking against others.</p>
                    <br>
                    <h5>What's the waitlist?</h5>
                    <p>We are currently building the new fantasy game. By joining the waitlist you will become the first to be notified of the new game when it launches.</p>
                    <br>
                    <h5>Will I get charged $4.99 for joining the waitlist?</h5>
                    <p>You will not get charged any fees for joining the waitlist. Joining the waitlist allows you to be the first to be notfied of when we launch.</p>
                    <br>
                    <h5>What are the fantasy challenges?</h5>
                    <p>Each week you play, you will have a series of challenges to pick the correct driver in six different categories. You will have four drivers to choose from and if you pick the driver that outperforms the other drivers, then you picked the correct driver. The challenges include:</p>
                    <ul>
                        <li>Which driver scores more stage 1 points.</li>
                        <li>Which driver scores more stage 2 points.</li>
                        <li>Which driver scores more stage 3 points.</li>
                        <li>Which driver finished better.</li>
                        <li>Which driver leads the most laps.</li>
                        <li>Which driver has the highest point differential.</li>
                    </ul>
                    <br>
                    <h5>What are streaks?</h5>
                    <p>Streaks are earned by making consecutive correct picks for a category. Streaks also have point multipliers. For example, if you pick the correct driver for who scores the most stage 1 points and do so the next week, you will move up the streak ladder. Prizes and point multipliers are earned at streak levels 4, 6 and 10.</p>
                    <br>
                    <h5>What are the prizes?</h5>
                    <ul>
                        <li>Correctly pick 4 out of 6 challenges in a week and win $10.</li>
                        <li>Correctly pick 5 out of 6 challenges in a week and win $25.</li>
                        <li>Correctly pick 6 out of 6 challenges in a week and win $100.</li>
                        <li>Make 4 consecutive picks in a category and win $10.</li>
                        <li>Make 6 consecutive picks in a category and win $50.</li>
                        <li>Make 10 consecutive picks in a category and win $100.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="sec1">
        <div class="container">
            <div class="row justify-center mb-2">
                <div class="col-md-8 text-center mt-5 mb-5">
                    <h3>Join the Waitlist</h3>
                    <div class="typeform-widget" data-url="https://robertmews.typeform.com/to/IN5aN7" style="width: 100%; height: 350px;"></div>
                    <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
                    <script type="text/javascript">
                        $('.typeform-widget').click(function() {
                            fbq('track', 'Lead');
                        });
                    </script>
                    <br>
                    <a style="margin-bottom: 20px; font: 14px Helvetica, sans-serif; color: #939393; text-decoration: none;" href="{{ url_for('page.terms') }}" target="_blank">By sharing my email I accept the <span>terms of service.</span></a>
                </div>
            </div>
        </div>
    </section>
    <script>
        function scrollToElm(name){
            var elm = document.getElementsByClassName(name)[0];
            if(elm){
                window.scroll({
                    top: elm.offsetTop,
                    behavior: "smooth"
                });
            }
        }
        function attachListeners(){
            var list = document.getElementsByClassName("scrollTo");
            for(var i =0; i<list.length; i++){
                list[i].addEventListener("click", function(){
                    scrollToElm(this.getAttribute('data-scroll'))
                });
            }
        }
        attachListeners();
    </script>
{% endblock %}