{% extends 'layouts/login.html' %}
{% import 'macros/form.html' as f with context %}

{% block page_title %}Reset your password{% endblock %}

{% block body %}
    <section class="contact">
        <div class="container">
            <div class="row contact-details">
                <div class="col-sm-8 m-auto text-center">
                    <h2>Reset Password</h2>
                    <p class="lead constrain-width mt-4">We'll send you an email to reset your password.</p>
                    <div class="divider"></div>

                    {# call macro to render the form element #}
                    {% call f.form_tag('user.begin_password_reset') %}

                        {# call macro to render identity field input #}
                        {% call f.form_group(form.identity,
                                             css_class='mb-4',
                                             placeholder='Username or email address',
                                             autofocus='autofocus') %}
                        {% endcall %}

                        <button type="submit" class="btn btn-primary btn-lg mb-4">Submit</button>
                    {% endcall %}
                    <a href="{{ url_for('user.login') }}" class="text-muted">Back to login</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
