{% extends 'layouts/nav.html' %}
{% import 'macros/form.html' as f with context %}

{% block page_title %}Update your account information{% endblock %}

{% block body %}
    <section class="contact">
        <div class="container">
            <div class="row contact-details">
                <div class="col-lg-6 m-auto text-center">
                    <h2>Update Your Account</h2>
                    <p class="lead constrain-width mt-4">Update your email address and/or password.</p>
                    <div class="divider"></div>

                    {# call macro to render the form element #}
                    {% call f.form_tag('user.update_credentials') %}

                        {# call macro to render current password field input #}
                        {% call f.form_group(form.current_password,
                                             css_class='mb-4',
                                             placeholder='Current password',
                                             autofocus='autofocus') %}
                        {% endcall %}

                        {# call macro to render email field input #}
                        {% call f.form_group(form.email,
                                             css_class='mb-4',
                                             placeholder='Email') %}
                        {% endcall %}

                        {# call macro to render password field input #}
                        {% call f.form_group(form.password,
                                             css_class='mb-4',
                                             placeholder='New password (optional)') %}
                        {% endcall %}

                        <button type="submit" class="btn btn-primary btn-lg mb-4">Save</button>
                    {% endcall %}
                    <a href="{{ url_for('user.settings') }}">Cancel</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}