{# Render a form tag that contains a CSRF token and all hidden fields. #}
{%- macro form_tag(endpoint, fid='', css_class='contact-form mt-4', method='post') -%}
    <form action="{{ url_for(endpoint, **kwargs) }}"
          id="{{ fid }}"
          class="{{ css_class }}"
          method="{{ method }}"
          role="form">
        {{ form.hidden_tag() }}
        {{ caller () }}
    </form>
{%- endmacro -%}

{# Render a form group with errors for various field types. #}
{%- macro form_group(f, css_class='') -%}

    {# Render form with error css class if form errors are detected #}
    {% if f.errors %}
        {% set css_class = css_class + ' has-error ' + kwargs.pop('class', '') %}
    {% endif %}

    {# Render the type of form #}
    {% if f.type == 'BooleanField' %}
        <div class="checkbox {{ css_class }}">
            {{ checkbox_field(f, **kwargs) }}
    {% else %}
        <div class="form-group {{ css_class }}">
            {{ field_label(f) }}
            {{ field(f, **kwargs) }}
    {% endif %}

            {{ field_errors(f) }}
            {{ caller () }}
        </div>
{%- endmacro %}

{# Render a form field's label with visual aid to see if it's required. #}
{%- macro field_label(f) -%}
    <label for="{{ f.id }}">
        {%- if f.flags.required -%}
            <strong>{{ f.label.text }}</strong>
        {%- else %}
            {{ f.label.text }}
        {%- endif %}
    </label>
{%- endmacro -%}

{# Render a checkbox field #}
{%- macro checkbox_field(f) -%}
    {{ f(type='checkbox', **kwargs) }} {{ f.label }}
{%- endmacro -%}

{# Render a form field #}
{%- macro field(f, css_class='form-control-custom') -%}
    {{ f(class=css_class, **kwargs) }}
{%- endmacro -%}

{# Render a form field's errors #}
{%- macro field_errors(f) -%}
    {% if f.errors %}
        <ul class="list-unstyled text-danger field-error">
            {% for error in f.errors %}
                <li>{{ error | e }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{%- endmacro -%}
