/* Global Styles
-------------------------------------------------- */

html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    background-color: #D3D1D9;
    color: #282929;
    padding-top: 5rem;
    position: relative;
    margin: 0;
    padding-bottom: 13rem;
    min-height: 100%;
}

h1 {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2.6rem;
    font-weight: 700;
}

h2 {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2.4rem;
    font-weight: 600;
}

h3 {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2rem;
    font-weight: 600;
}

h4 {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

a {
    color: #2D3B60;
}

.justify-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.divider {
    display: block;
    width: 6rem;
    height: 0.1rem;
    background-color: #C99F3E;
    margin: 1rem auto;
}

.constrain-width {
    max-width: 45rem;
    margin: 0 auto;
}


/* Nav Styles
-------------------------------------------------- */

.navbar-custom {
    background: #29284c;
}

a.navbar-brand, a.logo {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #c99f3e !important;
    font-size: 1.6rem;
    font-weight: bold;
    margin-top: 0;
}

a.logo:hover, a.logo:active, a.logo:focus {
    text-decoration: none;
}


/* Footer
-------------------------------------------------- */

.footer {
    background: #282929;
    width: 100%;
    color: #46484a;
    margin-top: 1rem;
    padding-top: 1rem;
    padding-bottom: .5rem;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

.footer .container-fluid {
    padding: 0;
}

.footer .divider {
    width: 100%;
    height: .1rem;
    margin: .5rem 0 1.5rem 0;
}

.footer .nav-footer {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
}

.footer .nav-footer .nav-link {
    color: #696b6e;
}

.footer .nav-footer .nav-link:hover {
    color: #C99F3E;
}

.footer .social li a {
    background: none;
    border: none;
}

.nav-footer {
    list-style: none;
    float: right;
}

.nav-footer li {
    float: left;
    margin-top: .5rem;
}

.social {
    margin: 0 auto;
    padding: 0;
}

.social li {
    display: inline-block;
}

.social li a {
    display: block;
    width: 2.2rem;
    height: 2.2rem;
    margin: .4rem .1rem;
    text-align: center;
    text-decoration: none;
    background: #fff;
    color: #696b6e;
    border: 0.1rem solid #dfe1e5;
    border-radius: 499rem;
    line-height: 1.5;
    font-size: 1.4rem;
}

.social li a:hover {
    color: #C99F3E;
    border-color: #C99F3E;
}


/* Homepage Styles
-------------------------------------------------- */

.cover {
    background: linear-gradient(to left, transparent, #29284c), url(../images/DriverDuelCover.png);
    background-size: cover;
    margin-top: -1rem;
    height: auto;
    border-radius: 0;
    width: 100%;
    color: #C99F3E;
}

.cover p.lead {
    margin: 2rem auto;
    color: #FDFEFE;
}

.cover .cover-container {
    display: table;
    height: 100%;
    min-height: 34rem;
    margin: 0 8rem;
}

.cover-inner {
    display: table-cell;
    vertical-align: middle;
}

.features {
    padding: 2rem 0;
}

.features h2 {
    margin-top: 1rem;
    color: #29284C;
}

.features .col-feature {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.features .col-feature .rounded-circle, .waitlist .col-feature .rounded-circle {
    margin: 0 auto;
    margin-bottom: 2rem;
    width: 6rem;
    height: 6rem;
    background: #3C3B5C;
    border: 0.15rem solid #3C3B5C;
}

.features svg, .waitlist svg {
    color: #C99F3E;
}

.content {
    background: #3C3B5C;
    padding-bottom: 0.2rem;
    margin-top: -6rem;
    margin-bottom: -1rem;
}

.content .container {
    margin: 5rem auto;
    color: #FDFEFE;
}

.content .full-width {
    width: 100%;
}

.waitlist {
    background: #3C3B5C;
    padding-bottom: 0.2rem;
    margin-top: -10rem;
    margin-bottom: -1rem;
}

.waitlist .container {
    margin: 5rem auto;
    color: #FDFEFE;
}

.waitlist .full-width {
    width: 100%;
}

.waitlist-logo {
    height: 6rem;
}


/* Cards
-------------------------------------------------- */

.card-header {
    background-color: #3C3B5C !important;
}

#driver-grid-img {
    height: 3rem !important;
}


/* Forms
-------------------------------------------------- */

.form-control-custom {
    border: 0.1rem solid #dfe1e5;
    width: 100%;
    padding: 1rem;
    font-size: .9rem;
    color: #696b6e;
    border-radius: .3rem;
}

.form-control-custom:focus {
    border: 0.1rem solid #59a0d7;
    outline: none;
}

.contact {
    padding: 0 0 5rem 0;
}

.contact .contact-details {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.contact h3 {
    margin-bottom: 0;
}


/* Flash Message Styles
-------------------------------------------------- */

.flash-messages {
    margin-top: -1rem;
}

.alert-success {
    color: #FDFEFE;
    background-color: #3C3B5C;
    border-color: #3C3B5C;
}

.alert-warning {
    color: #FDFEFE;
    background-color: #C99F3E;
    border-color: #C99F3E;
}


/* Button Styles
-------------------------------------------------- */

.btn-lg {
    padding: 1.1rem 2.5rem;
    font-size: .9rem;
}

li.nav-item .btn {
    margin-top: .2rem;
    margin-left: .4rem;
}

.pill-btn {
    border-radius: 499rem !important;
}

.pill-btn-nav {
    border-color: #C99F3E;
    background-color: #C99F3E;
    color: #29284C;
    white-space: normal !important;
}

.pill-btn-nav:hover, .pill-btn-nav:focus, .pill-btn-nav:active {
    border-color: #E5BB59 !important;
    background-color: #E5BB59 !important;
    color: #FDFDFD !important;
}

.pill-btn-cover {
    border-color: #C99F3E;
    color: #C99F3E;
}

.pill-btn-cover:hover, .pill-btn-cover:focus, .pill-btn-cover:active {
    border-color: #E5BB59 !important;
    background-color: #E5BB59 !important;
    color: #FDFDFD !important;
}

.btn-primary, .btn-success, .btn-outline-primary, .btn-outline-secondary, .btn-outline-success {
    font-size: .75rem;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: .3rem;
}

.btn-primary, .btn-primary:visited {
    background-color: #C99F3E;
    border-color: #C99F3E;
    color: #29284c !important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #E5BB59 !important;
    border-color: #E5BB59 !important;
    color: #FDFDFD !important;
}

.btn-secondary {
    border-color: #7B90A6;
    background-color: #7B90A6;
    color: #fff;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
    border-color: #46484a;
    background-color: #46484a;
    color: #fff;
}

.btn-outline-primary, .btn-outline-secondary, .btn-outline-success {
    border-width: 0.15rem;
}

.btn-outline-primary, .btn-outline-secondary, .btn-outline-primary:visited {
    color: #3C3B5C;
    border-color: #3C3B5C;
    background: none;
}

.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active, .btn-outline-secondary:hover, .btn-outline-secondary:focus, .btn-outline-secondary:active {
    background-color: #29284C !important;
    border-color: #29284C !important;
    color: #FDFEFE !important;
}


/* Link Styles
-------------------------------------------------- */

.link-white, link-white:visited {
    font-size: .75rem;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: .3rem;
    border: 0;
    color: #FDFEFE;
}

.link-white:hover, .link-white:focus, .link-white:active {
    color: #cccdcd !important;
}


/* Media Queries
-------------------------------------------------- */

@media screen and (max-width: 768px) {
    .nav-footer {
        width: 100%;
        padding: 0;
        display: flex;
        justify-content: center;
    }

    .cover .cover-container {
        display: table;
        height: 100%;
        min-height: 30rem;
        margin: 0 2rem;
    }
}